@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    *{
        width: 100%;
    }
   
    }