.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.medium {
    
    height: 20vh;
}

.tables-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .starships{
    display: grid; 
    grid-column: 2;

}


  