footer {
    max-height: 5vh;
    background-color: #0B3954;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  footer p:first-child {
    font-weight: bold;
  }
  