
.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif; /* Add a modern font */
}

.product-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f8f8f8; /* Add a light background color */
  padding: 20px;
  border-radius: 8px; /* Add rounded corners */
}

.product-filter label {
  margin-right: 10px;
  font-weight: 600; /* Make the label text bolder */
}

.product-filter select {
  padding: 8px 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Adjust the font size */
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 20px;
}