.PlanetPages {
    text-align: center;
  }
  
  .PlanetPages {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-container button {
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #ccc;
  }
  