@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Roboto&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Mende Kikakui', sans-serif;
  font-family: 'Roboto', sans-serif;
}