.DatePickingPageContainer {
    display: flex;
    height: 100vh;
  }
  
  .DatePickingPage {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .DatePickerContainer {
    margin-bottom: 20px;
  }
  
  .custom-calendar {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border: none;
    font-family: Arial, sans-serif;
  }
  
  .custom-day {
    color: #333;
  }
  
  .TasksContainer {
    flex: 1;
    width: 100%;
    max-width: 500px;
  }
  
  .TasksContainer h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .TasksContainer p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .TasksContainer ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .TasksContainer li {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .AddTaskContainer {
    display: flex;
  }
  
  .AddTaskContainer input {
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border: 0.5px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin-top: 19px;
  }
  
  .AddTaskButton {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .AddTaskButton:hover {
    background-color: #0056b3;
  }
  
  .AddTaskContainer > input {
    min-width: 300px;
  }
  .TasksContainer ul li {
    width: 600px;
    height: 30px;
  }

  .DeleteTaskButton{
    width: 50px;
  }

  .DatePickingPageContainer {
    display: flex;
    height: 100vh;
  }
  
  .Aside {
    width: 200px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;
  }
  
  .DatePickingPage {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
  }
  
.react-datepicker-wrapper{
    margin: 0;
}  


.TasksContainer ul {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .TasksContainer ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding: px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .TasksContainer ul li span {
    flex: 1;
  }

  .DeleteTaskButton{
    align-content: center;
  }

