@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Roboto&display=swap");

* {
  font-family: "Noto Sans Mende Kikakui", sans-serif;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2d3436;
  padding: 13px;
}

.navbar > h3 {
margin-left: 200px;
color: whitesmoke;

}
.navbar >h4{
  color: lightblue;
}

.navbar > img {
  width: 40px;
}
