@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Mende Kikakui', sans-serif;
  font-family: 'Roboto', sans-serif;;
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(./src/backgorund.jpg);
  background-size: cover;
  background-position: center;
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 160px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0%;
  background-color: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 70px;
  margin-top: 80px;
}

.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button,
a.login-button,
a.register-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

button span,
a.login-button span,
a.register-button span {
  background-color: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: width 0.3s ease;
}

button:hover span,
a.login-button:hover span,
a.register-button:hover span {
  width: 100%;
}

button:hover,
a.login-button:hover,
a.register-button:hover {
  border: none;
}



