.PizzaSlider {
  height: 86vh;
  background-color: #d1411e;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.pizza-slider-wrapper {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
}

.pizza-card {
  display: flex;
  padding: 20px;
  margin-left: 150px;
}

.pizza-image img {
  background-color: #d1411e;
  margin-left: 90px;
  margin-top: 50px;
}

.pizza-info p {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 0;
  margin: 2px;
}

.pizza-info h3 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 140px;
  margin-bottom: 15px;
}

.pizza-image img {
  max-width: 600px;
  background-color: transparent;
  filter: brightness(80%);
  margin-top: 100px;
}

.pizza-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.line {
  width: 7%;
  height: 5px;
  background-color: white;
  margin-bottom: 40px;
}

.paragraphLine {
  width: 30%;
  height: 2px;
  background-color: white;
}

#lamapizza {
  font-size: 20px;
}

/* Media Query for screens with a maximum width of 768px (e.g., phones) */
@media screen and (max-width: 768px) {
  .pizza-card {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 40px;
  }

  .pizza-image img {
    margin-top: 20px;
    margin-left: 0;
  }

  .pizza-info h3 {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
  }

  .line {
    margin-bottom: 20px;
  }
  .PizzaSlider{
    height: 82vh;
    width: 480px;
    padding: 0;
  }
  .pizza-image img {
    max-width: 400px;
    background-color: transparent;
    filter: brightness(80%);
    margin-top: 40px;
    margin-left: 0px;
  }
}
