.ProductDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.ProductInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.product-image {
  flex: 1;
  padding-right: 40px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.product-details {
  flex: 1;
  padding-left: 40px;
}

.product-name {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.product-rating {
  font-size: 24px;
  color: #ffd700; /* gold color for stars */
  margin-bottom: 20px;
}

.product-price {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.product-flavor,
.product-quantity {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.product-quantity input {
  width: 60px;
  padding: 4px 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-stock {
  font-size: 18px;
  margin-bottom: 20px;
}

.stock-available {
  color: green;
}

.stock-unavailable {
  color: red;
}

.Add-button {
  padding: 12px 24px;
  background-color: #424cd8;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  border-radius: 4px;
}
.Close-button{
  padding: 12px 24px;
  background-color: #fd4141;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  border-radius: 4px;
  margin-left: 20px;
}
.Add-button:hover {
  background-color: #333;
}

.product-description,
.product-ingredients {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.product-description h2,
.product-ingredients h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.product-description p,
.product-ingredients ul {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}

.product-ingredients ul {
  list-style-type: disc;
  padding-left: 20px;
}

.product-ingredients li {
  margin-bottom: 10px;
}

.ProductDetails .product-rating span:first-child {
  color: black;
}
