@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Roboto&display=swap");

body {
  background-image: url("/img/bacground.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans Mende Kikakui", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #f44336;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

h1 {
  overflow: hidden;
  white-space: nowrap;
  font-size: 36px;
  font-weight: bold;
  width: 300px; /* adjust as needed */
  border-right: 2px solid transparent;
}

#heading1 {
  animation: typing1 3s steps(50, end) forwards;
}

#heading2 {
  animation: typing2 3s steps(50, end) forwards;
}

@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text {
  margin-top: 230px;
  margin-left: 200px;
  color: #2c3a47;
}

#btn {
  margin-left: 250px;
  margin-top: 30px;
}

#heading1 {
  margin-left: 130px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}

.navbar-logo img {
  height: 120px;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-item {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 60px;
  border-radius: 5px;
}

.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-dropdown {
  position: relative;
}

.navbar-dropdown-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.navbar-dropdown-content {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #f44336;
  border-radius: 5px;
  display: none;
  padding: 10px;
  z-index: 1;
}

.navbar-dropdown-content a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .navbar-items {
    display: none;
  }

  .navbar-logo {
    margin-left: 20px;
  }

  .navbar-dropdown-btn {
    margin-right: 20px;
  }

  .navbar-dropdown-content {
    top: 70px;
    left: 0;
    right: auto;
    padding: 0;
  }

  .navbar-dropdown-content a {
    padding: 10px 20px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  max-width: 300px;
  text-align: center;
}

.card img {
  max-width: 150px;
  margin: 0 auto;
}

.card h2 {
  font-size: 24px;
  margin-top: 20px;
}

.card p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.5;
}

.card a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.card a:hover {
  transform: scale(1.1);
}

.wrapper {
  display: flex;
}

.cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white;
  background: #ff3838;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  margin-left: 340px;
  margin-top: 20px;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}
