@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dfe4ea;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 56px;
  width: 350px;
  height: 500px;
  background: #0097e6;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #dfe4ea;;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #dfe4ea;
  background: #ff9719;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #ff9f43;
}
.login {
  height: 460px;
  background: #ff9719;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #dfe4ea;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0097e6;
}
i {
  color: #ff9f43;
  cursor: pointer;
}
header .logo {
  color: #dfe4ea;

  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
}
header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: #dfe4ea;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}
header ul li a:hover {
  border-bottom: 2px solid rgb(0, 247, 255);
}
header .menu {
  font-size: 2.5em;
  display: none;
}
