.PizzaList {
    display: flex;
    flex-direction: column;
  }
  

  .PizzaList p {
    margin: 0;
  }
  
  .PizzaList img {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
  }
  
  .PizzaList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .PizzaList img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
  }
  

  @media screen and (min-width: 481px) and (max-width: 768px) {
    .PizzaList img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      border-radius: 5px;
    }
    .PizzaList {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    

  }
  