@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans Mende Kikakui", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f6fa;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}

.navbar-logo img {
  height: 120px;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-item {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 60px;
  border-radius: 5px;
}

.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-dropdown {
  position: relative;
}

.navbar-dropdown-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.navbar-dropdown-content {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #f44336;
  border-radius: 5px;
  display: none;
  padding: 10px;
  z-index: 1;
}

.navbar-dropdown-content a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .navbar-items {
    display: none;
  }

  .navbar-logo {
    margin-left: 20px;
  }

  .navbar-dropdown-btn {
    margin-right: 20px;
  }

  .navbar-dropdown-content {
    top: 70px;
    left: 0;
    right: auto;
    padding: 0;
  }

  .navbar-dropdown-content a {
    padding: 10px 20px;
  }
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  grid-gap: 20px;
  margin-left: 200px;
  margin-top: 80px;
}

.pokemon-list__item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #888;
}

.pokemon-list__item {
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 4px #888;
  width: 220px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pokemon-list__item:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #ffcb05;
  border-radius: 10px;
  z-index: -1;
}

.pokemon-list__image {
  z-index: 1;
}

.pokemon-list__name {
  display: block;
  margin-top: 10px;
}

#app {
  margin-top: 80px;
  margin-left: 70px;
}

.pokemon-card {
  margin-left: 500px;
  max-width: 600px;
  height: 650px;
  margin-top: 100px;
  background-color: #fff9e9;
  border: 2px solid #ffcb05;
  border-radius: 30px;
  padding: 40px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.pokemon-card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #fff9e9;
  z-index: -1;
  border-radius: 30px;
  border: 2px solid #ffcb05;
  transform: rotate(-2deg);
}

.pokemon-card__image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 2px solid #ffcb05;
}

.pokemon-card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.pokemon-card__name {
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
  text-align: center;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(50, end) forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.pokemon-card__weight {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
  font-size: 20px;
}

.pokemon-card__types {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
  font-size: 20px;
}

.pokemon-card__types span {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 8px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.pokemon-card__height {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
  font-size: 20px;
}

#show {
  margin-left: 280px;
  margin-top: 30px;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.sortBtn-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sortBtn-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sortBtn-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.sortBtn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
}

.sortBtn:hover {
  background: 0 0;
  color: #ff4742;
}

.dropbtn {
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
}

.dropbtn :hover {
  background: 0 0;
  color: #ff4742;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.pokemon-card__types {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
}

.pokemon-card__types:hover {
  background-color: #0062cc;
  border-color: #005cbf;
}
